[2013-12-23 18:59] adametry opened #1 "file.pipe: options and emitting an "end" for buffered/null contents [Feature]"
When using file.pipe, the writable stream will be closed where `file.contents` is a stream; however, neither buffer or null contents will reach an `end` event. Since it appears that `file.pipe` is a bridge for streams, could it mimic a readable stream by ending the writable with data (buffer) or without (null)? Further, this could be conditional to an `options.end` to match node's `readable.pipe(d

[2013-12-28 11:30] nfroidure opened #3 "Abstracting Streams/Buffer"
Related to: https://github.com/wearefractal/gulp/issues/74

To achieve this, we have to provide an asynchronous API when writing a buffer to a File object and when reading a buffer in a file object.

When reading a Buffer while the file contents is a stream, since a stream cannot be consumed twice, we will have to choose between:
- caching the Buffer (i think we shouldn't)
- testing if the stream

[2014-01-05 00:12] floatdrop opened #5 "Constructor of File and contents/stats"
I really do not understand, why `File` is just a object with fields. Is there any reason, that it does not fills `contents` and `stats`? Seems that `src` at start filling content of emitting File object, so lazy loading isn't a reason.

[2014-01-05 00:39] nfroidure opened #6 "Reading buffers on demand"
Something like that in the Vinyl setters of https://github.com/nfroidure/vinyl/blob/master/index.js#L119 :

[code]

So it would read files only when required. Another way of moving null contents out of Vinyl.

A side effect: https://github.com/gulpjs/gulp/issues/79#issuecomment-31580992

[2014-01-05 01:04] #1 closed, assigned to nobody

[2014-01-05 11:56] #5 closed, assigned to nobody

[2014-01-08 12:05] nfroidure opened #7 "Having a buffer option in vinyl too"
It is part of this PR https://github.com/wearefractal/vinyl/pull/4 but since it's pending more input i think we should consider to add it to current vinyl version.

When a vinyl object have no content (isNull() === true) some plugins will lack informations on using buffers or streams to create file.contents.

By example, for plugins like gulp.watch that create contents from null object, the lack o

[2014-01-08 23:44] #7 closed, assigned to nobody

[2014-01-18 15:53] tkellen opened #10 "node-task"
Would you be willing to migrate this to the node-task org?  I think this specification currently fits the needs for all task runners and I don't want to duplicate the effort.  We can call it vinyl, or record, whichever you prefer.

[2014-02-06 01:58] #10 closed, assigned to nobody

[2014-02-09 01:16] ctalkington opened #12 "node v0.8 support"
is the only reason this doesn't support node v0.8.x because of the streams? if so couldn't `readable-stream` be used to polyfill until v0.12 has been released and out for a bit.

[2014-02-09 01:58] #12 closed, assigned to nobody

[2014-03-01 18:03] yocontra opened #13 "support fs permissions"

[2014-03-17 22:34] #13 closed, assigned to nobody

[2014-04-01 21:52] sindresorhus opened #14 "Automagically generate `stat` object when not provided in `gutil.File()`"
When I create a file it it's inconvenient having to create the stat object.

I think it's better that gulp plugin authors can expect `stat` to always be defined.

[2014-04-30 20:33] dgbeck opened #17 "file type deserves its own property"
Hello,

It seems to me that there is a missing concept in the vinyl spec, that of the current file type of the "virtual file". Clearly this concept is important. Glup plugins can, and often do, change the type of a file, for example from `.scss` to `.css`. Right now the way this change is "recorded" is by [changing the `path` property](https://github.com/dlmanning/gulp-sass/blob/master/index.js#L5

[2014-05-27 06:08] popomore opened #19 "Should it add file.origin property"
Some plugin like [gulp-rev](https://github.com/sindresorhus/gulp-rev) will change file.path, and save the original path with file.revOrigPath.

I think it's nice that supporting by vinyl.

[2014-05-28 11:32] adam-lynch opened #20 "Reading a file into a vinyl"
What's the best way of instantiating a vinyl based on a file on disk. I looked at vinyl-fs but I don't think it's what I'm looking for. Maybe I'm being stupid / missing something but in some tests for my gulp plugins, I do stuff like:

[code]

What I'm for is something that I can pass a path to and get a new Vinyl in return.

[2014-05-28 19:52] #20 closed, assigned to nobody

[2014-07-02 17:52] popomore opened #25 "Can file.clone copy custom properties?"
Example

[code]

[2014-07-19 15:23] #25 closed, assigned to nobody

[2014-07-29 09:55] floatdrop opened #28 "vinyl is fetching too many dependencies"
Vinyl have `lodash.clonedeep` in dependencies,  which is very complicated inside. Since vinyl should be base for all plugins, that emitting Vinyl Files it is not very robust to install 45 packages to just deep clone object. Could it be replaced by another similar package (like [node-clone](https://github.com/pvorb/node-clone))?

[code]

[2014-07-30 22:35] #28 closed, assigned to nobody

[2014-08-25 18:27] gcoonrod opened #30 "What is Vinyl for?"
Stumbled across this while looking into Gulp. Could I get an ELI5 on Vinyl and its intended use?

[2014-08-25 22:21] #30 closed, assigned to nobody

[2014-08-28 03:13] #19 closed, assigned to nobody

[2014-08-28 12:38] #17 closed, assigned to nobody

[2014-08-28 13:31] popomore opened #31 "miss .jshintrc"
[Jshint in package.json](https://github.com/wearefractal/vinyl/blob/v0.3.2/package.json#L26) isn't working.

Directory and .jshintrc should be specified.

[code]

[2014-08-28 13:39] #31 closed, assigned to nobody

[2014-08-29 14:56] sindresorhus opened #34 "Investigate why deep cloning file objects is slow"
It's slow in one case https://github.com/wearefractal/vinyl/pull/29#issuecomment-51599256, but we should investigate why before resorting to using a native dependency https://github.com/wearefractal/vinyl/pull/32, which comes with its own [downsides](https://github.com/wearefractal/vinyl/pull/32#issuecomment-53869601).

// @contra @popomore @c0

[2014-08-29 16:00] #34 closed, assigned to nobody

[2014-09-01 17:49] jgable opened #35 "Re-hydrating a cloned file from disk"
It looks like wearefractal/vinyl#24 significantly changed the way `path` is stored on a File instance.  Ever since this change, you can't re-"hydrate" a File object from a clone because the clone result doesn't include the path property, but the File constructor requires a path and won't respect the passed in history.

I'm left with a sort of hacky

[code]

I think you should check for the passed

[2014-09-01 18:17] #35 closed, assigned to nobody

[2014-09-08 09:07] BenjaminRH opened #36 "Possibly unhandled Error: path should be string"
I'm getting the error below, and I've got no idea what in my gulpfile is causing it. Any ideas as to what it could be?

[code]

[2014-09-08 12:15] #36 closed, assigned to nobody

[2014-09-13 13:05] Marak opened #38 "Community information on vinyl ecosystem and vinyl adapters"
Hello.

Very nice project. Had something very similar to this a few years back that was unfortunately shut-down / not open-sourced.

Is there a central location or wiki to list / discover new adapters for Vinyl? Is there a development plan / timeline / wishlist for new adapters? Is there a contribution doc for creating adapters?

Searching npm I have found:

https://github.com/wearefractal/vinyl-f

[2014-09-16 10:57] Marak opened #39 "vinyl-diff / vinyl-compare"
Are there currently any tools for comparing two sets of vinyl files and returning a diff between the two based on checksum?

I have found https://github.com/sindresorhus/gulp-changed/ , but this seems to be coupled directly to file-system and I seek to perform diff of vinyl files ( i.e. compare local files to remote files )

Any suggestions?

[2014-09-18 14:41] Marak opened #40 "vinyl-http - send and receive vinyl over http"
Hello again.

I had the need to easily push vinyl between two nodes over HTTP, so I created a basic module [vinyl-http](https://github.com/Marak/vinyl-http)

Not sure if something like this exists in the ecosystem yet. This could be comparable to `gulp-sftp`, except files are moved over HTTP instead of SSH.

Module is `0.0.0` right now. I am using this as part of a larger project and plan to add m

[2014-11-13 12:47] immo-huneke-zuhlke opened #41 ""Error: Cannot find module './lib/cloneBuffer'" when vinyl is a dependency of gulp-util"
Here is part of the console output log of a Jenkins build of my project. I have inserted two find commands in the build script just before invoking "gulp default" to show why vinyl's lib/cloneBuffer.js cannot be found. There are lots of copies of the file, just none on that subtree of node_modules.
...
- find -iname '_clonebuffer_'
  ./node_modules/gulp-jasmine/node_modules/gulp-util/node_modules/

[2014-11-13 13:20] #41 closed, assigned to nobody

[2014-12-01 13:43] pgilad opened #42 "file.relative for base='/' returns non-leading slash prefix"
Currently `file.relative` returns `path.relative(file.base, file.path)`.

This works great, but when you want a plugin to use `file.relative` and supply `base: '/'`, you get file paths that are non-absolute, and are incorrect (but are correct relative to root):

So you would get:

[code]

This problem occurs when you use `file.relative` in your plugin to get file information, and expect users to s

[2014-12-02 06:48] #42 closed, assigned to nobody

[2014-12-28 05:56] #40 closed, assigned to nobody

[2014-12-28 14:00] #3 closed, assigned to nobody

[2014-12-28 14:00] #6 closed, assigned to nobody

[2014-12-28 14:01] #14 closed, assigned to nobody

[2014-12-28 14:01] #39 closed, assigned to nobody

[2014-12-28 14:02] #38 closed, assigned to nobody

[2015-05-05 13:22] jmm opened #47 "`history` should be documented?"
The `history` property should be documented, right? It seems so based on the discussion in #19.

[2015-05-05 19:30] contra commented on #47
PR?

[2015-05-06 14:45] jmm commented on #47
Please see #48.

[2015-05-09 01:45] #47 closed

[2015-05-20 00:34] andyperlitch opened #50 "Improve the API for File objects"
It took me way too long to find out how to get the contents of a file as a string (`.contents.toString('utf8')`). It would be *really* helpful to have this in the readme.

Thanks!

[2015-05-20 00:36] contra commented on #50
PR?

[2015-05-20 01:18] andyperlitch commented on #50
Will do

[2015-06-03 04:33] travisperson opened #53 "Next release"
Is there a time frame for the next release? I'm interested in using the new `dirname`, `basename`, `extname` features.

[2015-06-03 23:40] contra commented on #53
@travisperson I can cut a minor release right now

[2015-06-03 23:44] contra commented on #53
0.5.0

[2015-06-03 23:44] #53 closed

[2015-06-03 23:49] #50 closed

[2015-07-16 17:32] sergeche opened #55 "Cloned stream file content is not drained"
Steps to reproduce:

1. Create file large enough to exceed `highWatermark` for file streams. In my case it’s 131KB file.
2. This code works fine:

[code]

but this doesn’t, there’s no `done!` message and file isn’t written:

[code]

Tested on node v0.10.38 and iojs v.2.3.1

After debugging, I found out that file contents reading stops after second 64KB chunk, looks like writing stream is not able

[2015-07-17 10:14] contra commented on #55
@sergeche That line seems extraneous, want to send a PR to remove it?

[2015-07-17 10:20] sergeche commented on #55
I will, but first I have to do more tests. I think the *right* solution might be much more complex. E.g. if I create two clones that attached to a single file read stream and read contents for one of them, will second clone restart read stream when I read from it?

[2015-07-26 02:27] snowyu opened #56 "Great Thanks and Proposal"
I  very love the KISS of Gulp 4.  I am too lazy to re-invent the wheel. But I have not reused the codes of vinyl when I'm making a project base on Gulp 4. So I had to create the [abstract-file](https://github.com/snowyu/abstract-file.js).
I am tired to type useless/unreadable punctuation(eg, braces), so I use coffee-script too.

* abstract [property-manager](https://github.com/snowyu/property-mana

[2015-07-26 02:28] snowyu commented on #55
The simplest effective way is `createReadStream` agagin: https://github.com/snowyu/abstract-file.js/blob/master/src/attributes.coffee#L55

Even `PassThrough`, the data would be lost if one `through` stream is not ready to recevie data opportunely.

[code]

[2015-07-27 20:08] contra commented on #56
Nope, I love coffee-script but not for any open source work. All of our open source code is in lowest common denominator JS to encourage more contributions

[2015-07-29 16:53] VaJoy opened #57 "async processing via new gutil.File() ?"
I'm experiencing some `Error: stream.push() after EOF` errors when I run my gulp plugin:
[code]
but the codes below run successfully with no error:
[code]
so I wonder if `new gutil.File()` was an async function and how to solve it?
p.s, `embedder` refer to [resource-embedder](https://github.com/callumlocke/resource-embedder)

[2015-07-29 18:26] contra commented on #57
This has nothing to do with vinyl, this is a stream bug. Your problem is that your stream is ending before you have finished pushing all the files, use something like through2

[2015-07-29 18:26] #57 closed

[2015-07-30 02:48] VaJoy commented on #57
hi @contra ,I DO use through2 already, and the gutil.File was just vinyl([here](https://github.com/gulpjs/gulp-util#new-fileobj)) itself.
btw here`s my whole codes:
[code]
it\`s weird that sometime it runs successfully but sometime runs with errors as `Error: stream.push() after EOF`

[2015-07-30 03:56] VaJoy commented on #57
oh sorry it`s bug from lib/resource-embedder2 and I`ve fixed it

[2015-08-12 15:18] sergeche commented on #55
I did some research on this problem.

Looks like the problem is during clone routine you end up with two consumers (original and cloned files) attached to a single reader. When you start reading from one of these streams, the other stream also receives data. But since that other stream is still in paused mode, it puts on pause the reader.

The quick and pretty valid solution, as @snowyu noted, is

[2015-09-01 20:18] zwhitchcox opened #59 "Could someone explain what this does in layman's terms?"
I've read the docs and that article twice, but I still don't really understand what this does and how it does it. I get the fact that it somehow adds information about the file and the path to the stream, but that's about everything I know, and it seems like it does more than that

[2015-09-01 20:40] #59 closed

[2015-09-02 17:49] contra commented on #59
This is an object for containing meta-data about files.

[2015-09-22 00:03] phated commented on #56
Going to close this, as there are nothing actionable to address.

[2015-09-22 00:03] #56 closed

[2015-09-22 00:05] phated commented on #55
@sergeche We don't want to lose all the piped streams.  What else can be done here?

[2015-09-22 08:37] sergeche commented on #55
@phated I think the only solution is to clone all piped streams and arrange them into a new pipeline. And the only solution to do so properly is to get access to stream constructor.

I looked over repo issues and didn’t found any reports like this. Looks like there’s not so much users who need to use streams for file reading :) So I guess simply creating a new file stream reader will be OK.

[2015-10-02 18:39] derekdowling opened #62 "Error: Cannot find module './lib/cloneBuffer'"
When I run this locally on OSX, I don't encounter this problem, but inside of Docker when this runs, I get:

NPM: 2.14.4
Node: 4.1.1
Gulp: 3.9.0

[code]

Any thoughts on what might be causing this?

[2015-10-02 18:40] phated commented on #62
Most definitely docker :stuck_out_tongue:

[2015-10-02 18:42] derekdowling commented on #62
I'm also not doing any sort of npm/bower install as part of the build process. I'm using folders sync to put all of the node_modules there so hypothetically the correct files should be there.

[2015-10-02 18:43] phated commented on #62
This file definitely should be, but you still need to do an install because gulp has native modules that it relies on which don't transfer systems well.

[2015-10-02 18:51] derekdowling commented on #62
Would an `npm rebuild` suffice?

[2015-10-28 17:44] strugee opened #68 "Document/implement setting arbitrary keys on Vinyl objects"
Vinyl objects should have some way of setting arbitrary data keys in addition to the builtin ones, like `path`, `stem`, etc. This would be incredibly useful in certain cases: for example, the ability to parse out YAML Front Matter into a Vinyl object that could then be consumed by downstream Gulp plugins would be super powerful.

I feel like there should be some way to do this already, but I've tr

[2015-10-28 17:48] phated commented on #68
Vinyl objects are just JavaScript objects.  You can tack properties onto instances, change the prototype, inherit from them.  We don't plan to document features of JavaScript on this library.  The frontmatter thing you describe is already done by https://www.npmjs.com/package/gulp-data - maybe you can better understand this by looking at the source.

[2015-10-28 17:48] #68 closed

[2015-10-28 22:25] contra commented on #68
To answer more concretely: `file.attributeName = value;` is how you do this

[2015-10-29 00:40] strugee commented on #68
@phated that's what I thought, but then when the object gets sent down a stream, the properties don't seem to come along for the ride. I'll take a look at the linked package to see if I can figure it out from that, thanks.

[2015-10-29 00:43] strugee commented on #68
FWIW, I asked [a question on Stack Overflow][1] about this.

 [1]: http://stackoverflow.com/q/31413020/1198896

[2015-10-29 00:47] phated commented on #68
@strugee totally unrelated to this, the error you are seeing in that stackoverflow trace is due to you passing a plain function to `.pipe()` (your log method); That doesn't work, everything must be a stream

[2015-10-29 14:58] tmcw opened #69 "[question] vinyl virtual adapter"
Admittedly a question: is there a module that works with vinyl that would allow piping files from a stream of vinyl objects into a virtual filesystem? I'm working on a [live reloading server](https://github.com/documentationjs/dev-documentation) for which it'd be useful to never save the results of a stream to disk, but to keep them in memory so that they can be served over HTTP.

[2015-10-29 19:05] phated commented on #69
I think the closest thing to this would be https://www.npmjs.com/package/gulp-cached but it isn't really the same thing.  I've often thought about a similar thing to what you are building so that's pretty awesome.  I'm wondering if this has any tie-in to https://github.com/gulpjs/gulp/issues/357

[2015-11-15 14:23] jskrzypek commented on #69
I believe this is what [`mem-fs`](https://github.com/sboudrias/mem-fs) does, but I'm not 100%.

Looks like it uses a pretty old version of vinyl though...

[2015-11-15 20:00] tmcw commented on #69
So far I'm working on a [very minimal server](https://github.com/documentationjs/documentation/blob/watch/lib/server.js) that keeps an array of files around - I'm not sure if it'll be enough, but it's working so far.

[2015-11-15 20:18] Marak commented on #69
@tmcw - You might find some useful code in https://github.com/marak/vinyl-http

[2015-11-16 06:27] contra commented on #69
Let me know when this is finished! This idea was actually what helped refine the concept of vinyl as a virtual file object

[2015-12-14 18:06] tmcw opened #70 "Changelog?"
I'm seeing some behavior changes between vinyl 0.5 and 1.0, and between vinyl-fs 1 and 2. Neither project has a changelog or release notes - could there be a little more information that lists what breaking changes occur?

[2015-12-14 18:39] phated commented on #70
Yes, this needs to happen.  If you could go through the commit history and send us one of changes up until now, that would be insanely welcome.

[2015-12-21 19:35] TimvdLippe opened #71 "path.extname does not honor extensions with more than one dot"
path.extname of `foo.min.css` becomes `.css` instead of the expected `.min.css`

I use https://github.com/MaKleSoft/gulp-style-modules where I had to use the following configuration to make it work:

[code]
with input `app/bower_components/fullcalendar/dist/fullcalendar.min.css`

[2015-12-21 19:48] phated commented on #71
The extension is actually `.css` and is handled by node's built in parser.  I don't think we should change this.

[2015-12-21 20:04] TimvdLippe commented on #71
Is it possible to add a second argument to `extname` to strip off everything past the first dot instead of the last dot?

[2015-12-21 20:15] phated commented on #71
No, this is a setter/getter property, not a method you call.

[2015-12-21 20:47] TimvdLippe commented on #71
Hm that's a pity, I will continue looking for other fixes then. Thank you for your time.

[2015-12-21 20:47] #71 closed

[2015-12-28 23:13] phated opened #72 "Getters/Setters should update atime & mtime on file.stat"
Currently the `file.stat.atime` and `file.stat.mtime` aren't handled like they would be on a file system.  I think the getters and setters should update them accordingly.

[2015-12-28 23:14] phated commented on #72
Ref https://github.com/gulpjs/gulp/issues/1461

[2016-01-15 09:03] T1st3 commented on #70
@phated @tmcw , I just forked the repo and added a changelog:
https://github.com/T1st3/vinyl/blob/master/CHANGELOG.md

Note that the changelog was created automatically with https://github.com/lalitkapoor/github-changes.

if that file is OK for you, I may sure create a PR

[2016-01-15 09:53] contra commented on #70
@T1st3 That looks nice, go ahead and send a PR

[2016-01-15 19:47] phated commented on #70
Closed by #76

[2016-01-15 19:47] #70 closed

[2016-01-15 19:47] phated commented on #72
Closed by #75

[2016-01-16 12:06] erikkemperman commented on #72
@phated The more I think about this, the more it seems to me this may have been merged prematurely. Well, submitted prematurely, to be completely honest. That is, the patch more or less does what this issue asked for, but:

1. I am still convinced it does it at the wrong level -- we're not really interested in when something gets the `contents` property itself, but rather when its value is accesse

[2016-01-18 23:31] phated commented on #72
Changes have been rebased out of master to discuss edge case problems.

[2016-01-19 06:51] erikkemperman commented on #72
@phated Thanks, yes I think this should probably debated a bit more.

My feeling is your suggestion that started this issue is sound, but needs a slightly more delicate implementation to avoid some weird side-effects (as mentioned on the PR). And even then it will change the results of some fairly basic scenarios, as in the above.

But on the other hand perhaps that's ok, as long as it's documente

[2016-01-27 21:12] Chrisell commented on #62
Late to the party but @derekdowling : Did you ever resolve this? I'm running into the same problem in docker and noticed vinyl only imported `cloneBuffer`, `inspectStream`, and `isBuffer` (Mine fails on ./lib/isStream).

[2016-01-27 21:42] contra commented on #62
@derekdowling Rebuild should suffice, closing this due to no new info

[2016-01-27 21:42] #62 closed

[2016-01-27 21:42] contra commented on #62
@Chrisell Seems like a problem in your folder syncing, as long as all of the files are there node should load everything just fine

[2016-01-28 22:06] Chrisell commented on #62
@contra Yeah, so it seems. Unfortunately I can't seem to find out why the syncing is failing. I've tried doing an `npm install` within the compose and it still seems to be missing the same files.

[2016-02-10 00:35] phated opened #79 "isSymlink property"
In vinyl-fs, we look at a `symlink` property that doesn't seem to be part of vinyl at all, so I guess we just attach it in vinyl-fs.  I think this should be bubbled up to vinyl and we could add a `isSymlink` or `isSymbolic` method like `isNull`, etc.

@contra thoughts?

[2016-02-10 00:51] contra commented on #79
isSymbolic makes the most sense, and I agree we should have this

[2016-02-16 02:08] phated opened #80 "normalize paths"
In testing on Windows, I found that the slashes in the path history were incorrect.  It seems these are coming from node-glob but we aren't doing any translation.

Not sure where we should do this, but in the meantime, I am normalizing in vinyl-fs before we construct the `Vinyl` object because it requires the least releases.

cc @contra

[2016-02-16 03:55] contra commented on #80
This should happen in vinyl

[2016-02-16 04:30] phated commented on #80
Thanks, should it only happen on construction?  I was also thinking that glob-stream should maybe do it so there aren't incorrect paths being streamed on Windows (glob stream emits plain objects, not Vinyl objects)

[2016-03-11 17:14] tmcw commented on #69
I eventually wrote a very simple [memory-only server](https://github.com/documentationjs/documentation/blob/master/lib/server.js) that [I concat and set files on](https://github.com/documentationjs/documentation/blob/571137a77dfd8743ef209a40f7bea3d7f541e729/lib/commands/serve.js#L21). It works very well for this usecase.

[2016-03-11 17:14] #69 closed

[2016-04-18 07:38] mcollina commented on #55
This example https://github.com/gulpjs/vinyl/issues/55#issuecomment-124931105 works fine node v4 and v5, but not on v0.10 and v0.12.

[2016-04-18 18:47] phated commented on #55
@mcollina thanks, the example in the original issue works in node v5 also.  I kept the technical, stream-specific discussion in the readable-stream issue.

[2016-04-20 08:24] Marak opened #83 "`vinyl.toJSON` method?"
Hello.

Was wondering if there is any support for turning a vinyl `File` into a JSON object? I couldn't seem to find anything.

Obviously I can write a simple serialization method, but I was wondering if it exists anywhere else in the tool-chain. If not, would you want to add `File.toJSON` to core?

[2016-04-20 10:42] Marak commented on #72
It seems to me there are two unique pieces of information that need to be tracked.

1. `atime` and `mtime` of the original source file
2. `atime` and `mtime` of the virtual vinyl File representation

The legacy behavior is such that the ecosystem depends on `#1`, so changing this behavior will be problematic.

Tracking the new information `#2` ( the reason for this issue ) now needs to be done in

[2016-04-20 18:38] phated commented on #83
Good idea. I want to test this against a logging stream to make sure the custom display is used over toJSON

[2016-04-21 00:59] Marak commented on #80
@contra -

How would this work reliably in `vinyl` core? To my understanding the only way to find the correct file path on windows is to use `fs` module? I'm not entirely sure.

Would normalization of paths apply to all `vinyl` files, or just those created from `vinyl-fs`?

Is there code kicking around to normalize the paths anywhere? I found https://github.com/gulpjs/vinyl-fs/blob/master/lib/src/

[2016-04-21 01:17] phated commented on #80
@Marak that's currently where we do the normalization but my think is that we should use `path.normalize` when a path is set in vinyl instead of deferring that to vinyl-fs

[2016-04-21 01:18] phated commented on #80
Correction: that got moved into glob-watcher at https://github.com/gulpjs/glob-stream/blob/master/index.js#L50

[2016-04-21 01:19] Marak commented on #80
I haven't done much windows testing, `path.normalize` will work?

If so, seems like it would be a simple fix to `vinyl`?

[2016-04-21 01:20] phated commented on #80
@Marak yeah, node's `path.normalize` is platform dependent.  Should be a simple fix but no one has gotten around to changing + writing tests.

[2016-04-21 01:23] Marak commented on #80
Cool.

I'm putting `vinyl` into the hook.io dependency tree for some new platform features.

Been doing a general review of the ecosystem and core libs. Very impressed with everything. Thank you.

[2016-04-25 22:34] phated commented on #55
It looks like this will be fixable on node 0.10 and 0.12 with some caveats and fully fixable on node 4/5/6.  I'll add more information here as I solidify it.

[2016-04-26 07:52] phated commented on #55
This problem seems to be due to Streams2 implementation and is fixed with Streams3.  If you upgrade to node v4 or v5, the sample from the initial issue works perfectly.

[2016-04-26 07:52] #55 closed

[2016-04-26 07:55] phated opened #85 "Potential memory leak"
In https://github.com/nodejs/readable-stream/issues/202, @mcollina brought up the fact that we might have memory leaks when a Vinyl object with streaming content is cloned.  The suggested solution was to delay creation until the streams were needed.

I'm opening this issue so we can discuss further.

[2016-04-26 07:56] phated commented on #85
I'm not sure if this is similar in concept, but we are using `lazystream` when constructing Vinyl objects in vinyl-fs's `.src()` method (https://github.com/gulpjs/vinyl-fs/blob/master/lib/src/get-contents/stream-file.js#L15-L17)

[2016-04-26 08:15] mcollina commented on #85
Oh, I didn't know `lazystream` even existed. You want something slightly different, you want a `lazystream` that can be cloned and passed around. This it's either a PR there or a new module.
I'll see if I can do a prototype of this.

[2016-04-26 09:07] mcollina commented on #85
Here is my take on this issue: https://github.com/mcollina/cloneable-readable.
Please give it a spin, if it helps I need to do one more thing or two regarding error handling.

[2016-04-26 15:54] tunnckoCore commented on #55
@sergeche your second example from first post perfectly works in 0.10 for me. It emits `end` and file isn't corrupted (it is the same as the input file).

[2016-04-27 21:52] phated commented on #85
@mcollina super cool!  I'll give it a try soon.

[2016-05-04 18:16] EisenbergEffect opened #87 "Creating an Adapter"
I'm curious if a vinyl file adapter might be a good way to create a bundling system. So, in place of `gulp.dest` after transforming files, instead `myBundle.dest()`. Is this a legitimate use case? If so, can you point me to any resources that could be used in implementing the adapter? Thanks!

[2016-05-04 18:35] phated commented on #87
Yes, this is actually a better use for bundling tools than making them a gulp plugin.  The `.src` method could traverse the dependency tree and the `.dest` could do unique things for the bundler.  Someone is working on something similar for browserify at https://github.com/kt3k/vinyl-bundle

[2016-05-04 18:35] #87 closed

[2016-05-04 18:42] EisenbergEffect commented on #87
Great! I'm leading the Aurelia project. Our community primarily uses Gulp but we do have some Webpack users. I was looking into Webpack and it just struck me that it was odd how it had it's own plugin system, similar to Gulp, but not as nice. I then thought that it would be cool to leverage the full power of Gulp and its plugin ecosystem, but just add the final bundling piece on. At first I though

[2016-05-15 14:04] FDiskas opened #89 "Error: Cannot find module 'clone-stats'"
https://github.com/gulpjs/vinyl/blob/master/index.js#L3

[2016-05-16 19:39] phated commented on #89
Your npm install failed.

[2016-05-16 19:39] #89 closed

[2016-05-17 18:59] phated opened #90 "Bump clone-stats to 1.0"
The API has remained the same. Just needs a bump.

[2016-07-18 14:20] toolness commented on #62
Just wanted to mention that in my specific case, the vinyl module being found (and raising a `./lib/isStream` not found error) was actually one installed by my *host* system's npm (on OS X) rather than the one installed by my docker container's npm. Once I figured that out and made sure that node was finding the one installed by my docker container, everything worked fine.

[2016-07-28 22:44] phated opened #95 "Constructor behavior when path and history are provided"
I noticed in the PR (#94) that history is reset if a vinyl object is constructed with both a `path` and `history` property; e.g. `new Vinyl({ path: '/pets/cat', history: ['/pets/dog'] })` has `['/pets/cat']` as the history.

Shouldn't the constructor append the new path to the history if we specify both? In my example, it would result in `['/pets/dog', '/pets/cat']` as the history on the new objec

[2016-07-29 15:54] darsain commented on #80
Replying to https://github.com/gulpjs/vinyl/pull/92#issuecomment-236050925 here since this is the place  for it :)

Why should directory paths end in separator?

[2016-07-29 21:54] phated commented on #80
@darsain since we already use `path.*` methods in our getters/setters for the path properties, a user shouldn't be required to use `path.join` to rebuild a path.

Some examples:
[code]

These inconsistencies also resulted in unexpected results when I was refactoring the vinyl-fs tests.  We need to make the behavior consistent and easy to work with.

[2016-08-03 11:38] zxqfox opened #96 "Changelog.md: add info about v1.2.0"
There is no info about 1.2.0 in `changelog.md` in master branch.

[2016-08-03 17:32] phated commented on #96
Changelog information is in the process of being moved to Github Releases.  Feel free to review the git commit log in the meantime.

[2016-08-03 17:32] #96 closed

[2016-08-15 23:17] phated commented on #80
@darsain any progress on this?  If not, I might be tackling it soon.

[2016-08-16 02:50] phated commented on #90
replace-ext too.  Just finishing bumping it to 1.0

[2016-08-16 08:41] darsain commented on #80
@phated other things creeped in :/ should get back to it sometime in the next few days.

[2016-08-16 22:12] #90 closed

[2016-08-16 22:14] phated commented on #95
@contra @darsain @Marak @erikkemperman any thoughts on this?

[2016-08-17 08:11] darsain commented on #95
I'm all for appending to history. Makes sense.

[2016-08-17 09:57] erikkemperman commented on #95
It does sound very reasonable to append... But I notice that current behaviour does seem deliberate:

https://github.com/gulpjs/vinyl/blob/master/README.md#optionshistory

[2016-08-17 18:11] phated commented on #95
@erikkemperman it would be a breaking change to be queued up for the 2.0 release.  I can't see a reason for it to have no effect.

[2016-08-17 18:20] phated commented on #95
Side notes: It looks like the original implementation in #24 had that behavior and then an issue for history cloning was noted in #35 (with the fix in https://github.com/gulpjs/vinyl/commit/d220c857259f0070ab38c7b50d90f184a919e472).  None of those mentioned or took into account what I am mentioning.  But the docs for the feature were written in #48 which were just based on the behavior as implemen

[2016-08-17 18:43] erikkemperman commented on #95
Agreed, I think it makes a lot of sense. Just wanted to point out that the way it is now looked deliberate.

[2016-08-17 18:48] phated commented on #95
@erikkemperman understandable, that's why I did the digging to see if it was.  It doesn't seem to be.  Maybe the path needs to be compared to the last history item before being set.  If it is the same, don't add to history.

[2016-08-17 19:10] erikkemperman commented on #95
The setter for `path` already compares to the last element in `history`, so that would certainly be consistent.
https://github.com/gulpjs/vinyl/blob/master/index.js#L264

[2016-08-17 19:13] phated commented on #95
Cool.  I think there's a way to leverage that behavior in these changes then.

[2016-08-20 19:07] darsain commented on #80
Should we throw in `file.path` getter when `file.history` is empty, i.e. there is no path to be retrieved?

Otherwise, accessing stuff like `file.dirname` with empty history will throw a non-descriptive `path.dirname()` error *Path must be a string. Received undefined*, forcing the user to walk the stack trace to figure out what the actual issue is.

The solutions are:

1. Throw `Error('object has

[2016-08-20 19:10] darsain opened #100 "Virtual directories"
Working on path normalization I've noticed that currently, `file.isDirectory()` check looks like this:

[code]

This makes creating purely virtual directories quite awkward, since you basically have to mock the `fs.stat` object. How about we extend it with something like:

[code]

Where `this._isDirectory` will be a flag configurable only on creation via constructor options:

[code]

Readable only

[2016-08-20 21:14] phated commented on #100
I'm not too keen on this.  We need to look into a better "stats" abstraction but I don't like being able to force a behavior different from the stats object.  I've been mocking this everywhere (you just need to give an object with `.isDirectory()` attached).  I know that it's not totally proper to leak those implementation details but leaving `isDirectory`, `isSymbolicLink`, etc up to stats as the

[2016-08-20 21:15] phated commented on #80
@darsain how would you actually set the path to empty?  Is there a code path that allows it?

[2016-08-20 22:11] darsain commented on #100
Hm... yeah, having 2 different places that define directory would be messy. But still, declaring that object is a directory should be easier. So if this is gonna happen:

There should still be a `new Vinyl({isDirectory: true})` option that will mark that stat object as a directory. Thoughts?

[2016-08-20 22:41] darsain commented on #80
@phated sorry, Going thought the code again made me realize that it already answers these questions, as well as handles the no path case in a solid way :)

But to answer your question, `file.path` setter does allow empty strings.

[2016-08-20 22:59] phated commented on #100
I don't think there should be a top level option called `isDirectory`.  That is too easy to confuse with the top-level `isDirectory()` method because we traditionally copy all the properties over.

[2016-08-20 23:24] darsain commented on #100
So I'm than out of ideas how to make a user friendly creation of virtual directories :)

[2016-08-21 11:27] darsain commented on #80
Finishing up a PR, have hopefully 2 last questions:

1. Should `file.basename` end with separator when `file.isDirectory()` is `true`? I guess not, but not 100% sure.
2. I'm tweaking tons of tests to pass on windows, which they currently don't due to separators. This will result in a lot of noise in tests, which will have to be plastered with `path.normalize()` calls. It will be a lot easier to ju

[2016-08-22 21:30] phated commented on #80
@darsain I think `file.basename` should end with a separator if `isDirectory()` is true.  I don't know of a good example where it would be useful (but also can't think of anywhere it would be bad); however, I think the consistency with the other methods is important.  I think this should be true: `file.dirname + file.basename === file.path` in all scenarios and `path` should be normalized to end w

[2016-08-22 21:32] darsain commented on #80
@phated damn, just submitted the PR without trailing sep for basename :) gonna add it in.

[2016-08-31 18:34] #79 closed

[2016-09-06 23:14] #80 closed

[2016-09-07 18:02] phated opened #103 "Test refactor"
Need to bring the tests inline with other repos, switch from `should` to `expect`.

[2016-09-07 18:07] phated opened #104 "Normalize paths upon construction without stat object"
As I brought up in @darsain's PR, I'm not sure we should normalize the history of an object upon construction if no `stat` object is passed.  If the history represents a directory but no `stat` object is passed, will the paths be normalized incorrectly?

I'd like to get some feedback on this.

[2016-09-07 18:14] phated opened #105 "Enhanced stat object"
Opening this as the solution to a bunch of other issues.

This to achieve:

* *nix-like behavior for `atime`/`mtime`/etc properties (#72)
* Virtual directories (#100)
* User-friendly `mode` property (gulpjs/vinyl-fs#112)
* Construct with always-valid properties (`new fs.Stats` doesn't do this)
* More?

[2016-09-07 18:15] phated commented on #72
Closing in favor of #105

[2016-09-07 18:15] #72 closed

[2016-09-07 18:15] phated commented on #100
Closing in favor of #105

[2016-09-07 18:15] #100 closed

[2016-09-07 18:51] phated commented on #104
Actually, I don't think `isDirectory` or `isSymbolic` is used at all in normalization.  Always normalizing should be fine.

[2016-09-07 18:59] darsain commented on #104
That was the case when we were going with directories always ending in a separator. Since that got dropped, all paths are now going to look consistently the same.

Just search the `index.js` for `isDirectory` or `isSymbolic` and you'll see that there is no code dependent on them, so there is really no need for this issue :)

[2016-09-07 20:57] #95 closed

[2016-09-07 21:06] phated commented on #104
@darsain yeah, I was noticing that.  I think the change just needs to be in the docs.  Thanks for following up.

[2016-09-07 21:09] #104 closed

[2016-09-07 21:23] phated opened #106 "Normalize repository"
Like all the others.

[2016-09-07 21:26] phated opened #107 "Remove .pipe method"
This method seems like really old cruft that doesn't belong.

A few reasons I think it should be removed:
* Vinyl isn't actually a stream, so having a `pipe` method could confuse duck-typing
* The pattern for dealing with streams in plugins is:
[code]

@contra do you agree?

[2016-09-07 21:56] contra commented on #107
@phated yep

[2016-09-08 00:26] #107 closed

[2016-09-19 23:26] #85 closed

[2016-09-23 00:35] phated opened #111 "Should we use is-stream package?"
We currently use `instanceof` to check if something is a stream.  However, the [`is-stream`](https://www.npmjs.com/package/is-stream) module on npm uses `stream !== null && typeof stream === 'object' && typeof stream.pipe === 'function'`; should we switch to the external module?

cc @contra @sindresorhus

[2016-09-23 00:36] phated opened #112 "Split "lib" utilities into npm packages?"
We have a few utilities that I think could benefit being on npm.  Such as `stripTrailingSlashes` and `cloneBuffer`

Thoughts? cc @contra

[2016-09-23 00:36] phated commented on #112
Not sure if we want to increase the dependency count, etc.

[2016-09-23 04:56] sindresorhus commented on #111
Not all compatible streams inherit from `Stream`, and even if they do, `instanceof` doesn't work across realms (`vm` module contexts).

[2016-09-23 07:49] darsain commented on #111
Yes, definitely ducktype it. `instanceof` causes issues in some many places.

[2016-09-23 15:35] contra commented on #112
@phated Seems like overkill + more overhead to maintain. We should look to see if we can replace anything in lib with existing modules though - there has to be a clone buffer, is buffer, is null, etc. that we can rely on instead of rolling our own.

[2016-09-23 15:37] contra commented on #112
On second look, most of these can be straight up scrapped - we're only using some of them in one place. For example, isNull is only being used once in this whole project: https://github.com/gulpjs/vinyl/blob/a6da597f621d26de18bf2b8844222227cd6c9bc9/index.js#L66 but we have tests and whatnot to confirm that `== null` works.

[2016-09-23 20:05] phated commented on #112
I agree. Sadly there isn't a buffer cloning utility. I was thinking about splitting that out.

[2016-09-23 20:21] contra commented on #112
@phated We're only using it in one spot: https://github.com/gulpjs/vinyl/blob/a6da597f621d26de18bf2b8844222227cd6c9bc9/index.js#L120 might be worth inlining that too, its two lines of code

[2016-09-23 20:23] phated commented on #111
On the other hand, people stick `pipe` onto things that aren't fully streams compatible (see `merge` in event-stream).  We've had to de-support libraries like event-stream because of that.

I do agree that `instanceof` is generally bad.

[2016-09-23 20:23] phated commented on #111
I'd like to get @contra's thoughts though.

[2016-09-23 20:24] phated commented on #112
@contra there's actually a new/proper way to clone in node 5.something+ - `Buffer.from(buff)`.  I was thinking about combining both strategies into a utility module.

[2016-09-23 20:27] contra commented on #111
Yeah, checking for .pipe is good enough for me - instanceof sucks.

[2016-09-23 20:35] phated opened #113 "Use ES2015 Proxies"
I wanted to open this issue as a place to track things we could use Proxies to implement.

* Currently, unsetting `base` to fallback to `cwd` requires setting base to `null` or `undefined`.  With Proxies, I believe we could watch for `delete file.base` and unset it.

More information about Proxies at https://github.com/mikaelbr/proxy-fun

[2016-09-23 21:42] phated opened #114 "stripTrailingSep as utility module?"
I think this module has general use outside of vinyl.  @darsain would you be interested in publishing as a standalone module?

[2016-09-23 21:42] phated commented on #114
I think a good name would be `remove-trailing-separator`.  Trying to get away from the "strip" terminology.

[2016-09-24 07:28] darsain commented on #114
Sure. I'll do it today if nothing comes up.

[2016-09-26 21:11] #103 closed

[2016-09-26 21:13] #114 closed

[2016-09-26 21:49] #111 closed

[2016-09-26 21:49] phated commented on #111
Done

[2016-09-27 00:04] phated commented on #113
In the docs, we currently tell people to treat `history` and it's properties as read-only.  I think we could enforce this with proxies.

[2016-09-27 00:20] phated commented on #106
I believe this is almost wrapped up.

@terinjokes @contra @darsain can you review my README changes at https://github.com/gulpjs/vinyl/blob/repo-normalization/README.md

[2016-09-27 00:20] phated commented on #112
I've removed the utility methods that made sense to use external modules.  The only module I personally split out was `clone-buffer`.

[2016-09-27 00:20] #112 closed

[2016-09-27 07:56] darsain commented on #106
Viny => Vinyl typo in this title here: https://github.com/gulpjs/vinyl/blob/repo-normalization/README.md#vinyisvinylfile

Apart of that didn't catch anything else 👍

[2016-09-27 07:58] darsain commented on #113
Yeah, that would be a great use for a proxy here.

[2016-09-27 18:21] #106 closed

[2016-09-27 22:44] phated opened #117 "Rewrite History!"
In an attempt to normalize our release process across projects and actually have a nice changelog, I have been switching everything to `conventional-changelog` and using one of their utilities to generate GitHub releases based on the conventional-changelog-style git messages.

I've gone ahead and rebased all of Vinyl's history at https://github.com/gulpjs/vinyl/commits/rebasing and would like some

[2016-09-29 20:23] phated commented on #117
History rewritten!

[2016-09-29 20:23] #117 closed

[2016-10-13 16:57] selfagency opened #118 "gulp-uncss causes gulp_jspm to break in vinyl stream"
for some reason, once i include gulp-uncss in my gulpfile, i'm no longer able to run my jspm build task. if i comment out the include of gulp-uncss, it works. and gulp-uncss works fine when i run my css build task with both packages included. but gulp_jspm breaks.

[code]

[2016-10-13 17:04] phated commented on #118
This isn't a gulp issue.  You've already stated it's a problem with your plugins so open your issues on those projects.

[2016-10-13 17:04] #118 closed

[2016-10-17 22:26] demurgos opened #119 "Document `file.stat`"
Hi,
[`file.isDirectory()`](https://github.com/gulpjs/vinyl/blob/master/README.md#fileisdirectory) mentions the `file.stat` property.

The property `file.stat` is not documented. Could you clarify this ?

[2016-10-17 22:37] phated commented on #119
https://github.com/gulpjs/vinyl#optionsstat

[2016-10-17 22:37] #119 closed

[2016-10-17 22:45] demurgos commented on #119
I saw this, but it is listed as an option, not a property. For example, is it editable once it is set ?

[2016-10-17 22:53] phated commented on #119
It's only an option, not a property.  It is assigned just like any other property.  It is currently documented properly.  If you have improvements, submit a PR for review.

[2016-10-17 23:03] demurgos commented on #119
Well my problem it that it is the only only parameter that does break the symmetry between the options and properties: maybe there was a special reason for this ?

- [`options.cwd`](https://github.com/gulpjs/vinyl#optionscwd) -> [`file.cwd`](https://github.com/gulpjs/vinyl#filecwd)
- [`options.base`](https://github.com/gulpjs/vinyl#optionsbase) -> [`file.base`](https://github.com/gulpjs/vinyl#file

[2016-10-17 23:07] phated commented on #119
@demurgos `stat` is not a valid property (insomuch as a custom property tacked on).  The documented properties are documented because they are getters/setters and `stat` is not.

It may become a getter/setter property in the future (once https://github.com/gulpjs/vinyl/issues/105 is tackled) but is not currently and should not be documented as such.

[2016-10-17 23:27] demurgos commented on #119
I understand that it does not have any special `get` or `set` property, but I think that the documentation should mention it anyway.
As a user I do not need to know if it is backed by a getter or if it is a simple value: I want to know if I can do `var foo = file.stat` or not.

Since it is a "normal" value (not a getter/setter), I'd just describe what it means (as in `options`) and once you implem

[2016-10-17 23:38] phated commented on #119
That's incorrect though.  The property doesn't exist if you don't pass it in the options.  It's more of an internal property once passed as options.  That's why I don't think it belongs as documented as a property.  Bad things can happen if a user changes things incorrectly.

[2016-10-17 23:52] demurgos commented on #119
I would argue that it exists more than some other properties that made it to the documentation:

[These two lines](https://github.com/gulpjs/vinyl/blob/master/index.js#L29-L30) ensure that the key is there, and it is not a mere `undefined` but a `null`: it _exists_ but does not have any value.

If I run a small REPL session, I get this:
[code]

Both `contents` and `stat` are `null`, and what's wor

[2016-10-18 01:34] phated commented on #119
I think the documentation you are proposing is incorrect.  By stating "the result of an `fs.stat` call", it is making it seem as though we make an `fs.stat` call upon the path you pass in.  However, I think the header "Instance properties" is also incorrect in the current docs and it should be "Instance property accessors".

Stating that you iterate over a property doesn't make for a convincing ar

[2016-10-18 05:45] demurgos commented on #119
Ok, iterating over the keys does not make much sense because of the internal properties. Here is another snippet exploiting the information from `Object.keys`:

[code]

Even if it is used directly here, you can easily imagine it in a function in an other file that inspects it's arguments.

---

You are right, this is formulation is incorrect. Here is an other try:

---

I think that the current wo

[2016-10-22 12:34] demurgos opened #121 "Clarify the type of `options.stat`"
Hi,
I am working on formalizing the documentation of Vinyl so both the Typescript compiler and editors can better understand your API. There is currently an ongoing effort to [add `typings` for the version `2.0.0`](https://github.com/types/npm-vinyl/pull/5).

We have two sources for this: the code and the official documentation.

Currently, we have an issue with the documented type of `options.sta

[2016-11-06 20:37] twolfson commented on #107
Are there plans to replace `.pipe()` with another method? I know it's a small increase of 1 line to 3 lines but it winds up bloating all downstream plugins =/ (e.g. now I'm responsible for testing buffers/streams are handled consistently)

[2016-12-26 06:01] Tommassissimo opened #124 "use v2.0.1 fails in contents set function"
I use vinyl & event-stream & mocha to test my gulp plugin.
Everything works fine with version v1.2.0 and it fails in v2.0.1(latest version)

Here is my sample Code:
[code]
And it throw out TypeError as following:

[code]

[2016-12-26 22:38] phated commented on #124
`event-stream` is an unsupported module because they either use Streams1 or create fake streams that aren't up to spec.  You probably want to use the `from2` module.

[2016-12-26 22:38] #124 closed

[2016-12-26 22:40] phated commented on #121
`instanceof` is much too flaky to use in this library so there wouldn't be a consistent way to force a "full-fledged Stat object".  I am fine with accepting Stats-like objects until we are able to address #105 in the future.  Does that answer the question?

[2016-12-28 19:54] #121 closed

[2017-01-09 20:34] strugee opened #125 "0.4.6 clone() docs don't match the implementation"
https://github.com/gulpjs/vinyl/tree/v0.4.6#clone says that custom attributes are deep-cloned, but this isn't the case - they're only deep-cloned if `true` is passed to `clone()`.

Probably the docs should read something like:

I'm happy to provide a PR for this, but I'd need a branch created as you can't send PRs against tags (obviously).

[2017-01-17 08:02] mmc41 opened #126 "What about delete ?"
I am looking for a js virtual file system where I can read/create/update/delete "files" and "folders" of various kinds.

Vinyl looks great but it seems vinyl can only do 3/4 of filesystem operations, since I could find no way to delete virtual files in a portable manner that works across adapters. Is that correct or am I overlooking something?

[2017-01-23 21:56] phated commented on #126
Vinyl doesn't do any of those things.  Vinyl is very constrained to just be a representation of a file in memory.  Adapters are in control of generating Vinyl objects and interacting with a filesystem or some other medium.  If an adapter were to deal with deletion, it would just be a glorified globber and it doesn't fit the paradigm.  Anyway, this issue doesn't belong on Vinyl.

[2017-01-23 21:56] #126 closed

[2017-01-23 21:58] phated commented on #125
It looks so.  Not sure I really want to muck with the history again to fix this when we are *very* past that version.

[2017-01-24 01:11] strugee commented on #125
Yeah, normally I'd agree with you but I think it makes sense in this case since Gulp 3 has such a wide user base.

To be clear I'm not advocating for rewriting history, just branching from the relevant commit

[2017-01-24 02:22] phated commented on #125
And re-tagging or bumping which I'm not going to do. If this issue is present in gulp docs, I'll take a change there but not on this library.

[2017-01-24 02:22] #125 closed

[2017-02-14 03:24] sojuker commented on #125
gulp 3.9.1 use vinyl 0.4.6 (through vinyl-fs)
gulp-util 3.0.8 use vinyl 0.5.3
and vinyl's lastest version is 2.0.1

the API and the vinyl object diff from different versions, very easy to get confused.

[2017-02-28 15:56] bezoerb opened #127 "Remote paths"
First I would like to thank you for your work on this module.
Version 2 brought some internal changes which prevent the use of vinyl for remote objects.
Prior to v2 it was possible to store an url as path. The use of `path.normalize` introduced in v2 breaks this "feature" ;)
Is this the intended behaviour or would you accept a PR to "fix" this?

[2017-02-28 16:13] contra commented on #127
Yeah, that was a mistake! Vinyl should absolutely support any kind of URL/path - A PR w/ some tests to prevent this in the future would be great

[2017-02-28 20:51] phated commented on #127
This is a hard problem to solve because we need to normalize filesystem paths. There needs to be a module created that determines if a path is fs or remote.

[2017-03-01 06:08] bezoerb commented on #127
PR landet: https://github.com/gulpjs/vinyl/pull/128

[2017-03-02 21:06] phated opened #129 "Behavior of `file.base` when set to `file.cwd`?"
I just ran into this while working on `vinyl-sourcemap`: if someone does `file.base = file.cwd`, what should the resulting behavior be?  Currently we don't do anything due to the check at https://github.com/gulpjs/vinyl/blob/master/index.js#L215

cc @darsain

[2017-03-04 10:38] darsain commented on #129
If `base` after normalization equals `cwd`, it should result in `delete this._base;` so the getter can default to `this._cwd`. Not doing anything there is definitely a bug.

[2017-03-06 21:37] phated commented on #129
@darsain cool, thanks for looking at that.  It felt like a bug but I wasn't sure.

[2017-03-06 21:38] phated commented on #127
Copying my comment from #128 PR:

I actually believe this problem __can__ and __should__ be solved by my idea of an Enhanced Stat Object (#105).  Usage would look something like:
[code]

The `isRemote` flag in the Enhanced Stat Object would indicate that a Vinyl resource is being constructed with a remote path and would disable normalization (or do URL normalization).  Also, Enhanced Stat Objects

[2017-04-18 21:08] #129 closed

[2017-05-09 03:06] phated opened #131 "Unique ID"
I was working on option resolution consolidation in vinyl-fs (https://github.com/gulpjs/vinyl-fs/pull/239) and found that it would be really helpful to have a unique ID on each vinyl object.

@contra @erikkemperman thoughts?

[2017-05-09 16:48] phated commented on #131
Would this be a breaking change because someone might have been assigning an `id` property to the object already?

[2017-05-10 20:21] phated commented on #131
I think it's probably just better for us to use a WeakMap shim (which attaches a unique key to the object) instead of making this change to the API.

[2017-05-10 20:21] #131 closed

[2017-06-30 21:27] phated opened #133 "Remove streaming content support?"
Streaming contents have made many things hard.  I have some ideas about ways to replace some of the use cases and need to explore more to see if we can remove streaming contents completely.

[2017-07-15 14:19] megamindbrian opened #134 "How do I use mocking to make this a drop in replacement for all FS calls?"
I've started working on this:

https://github.com/webpack/memory-fs/issues/43

My goal is to be able to build packages/projects out of memory where just the node_module used are temporary stored in memory.  Kind of like webpack does but for the rest of the build chain as well.

[2017-07-15 19:06] phated commented on #134
You can't and that's not a goal of this library. I think someone at the yeoman or bower team built what you are looking for on top of vinyl.

[2017-07-15 19:06] #134 closed

[2017-07-27 17:47] nealoke opened #135 "[Question] How to create a filter which only uploads different size or non existing files?"
I've tried creating this but I'm really not familiar with `fs` or other native `node` modules. I've tried something like this but it is not working.

[code]

[2017-07-27 18:54] phated commented on #135
This is not a support forum. Please direct support questions to StackOverflow.

[2017-07-27 18:54] #135 closed

[2017-08-04 20:09] contra commented on #83
@Marak Still interested in this?

I'd like it to support this ideally: `new File(otherFile.toJSON())` - might be overkill though to include history and other fields that might not be pretty to look at in a log.

Should we lose history here? Just stat/path/contents?

[2017-08-04 20:10] phated commented on #83
@contra we can't actually do this due to streaming contents.  It's the main reason I opened #133, which will be revisited in the next major (after gulp 4).

[2017-08-04 20:51] Marak commented on #83
I can't remember the specifics, but it seemed to be having been working fine for my use-case.

I needed to serialize the object in order to inspect its properties, not inspect it's binary contents or stream data.

[2017-09-23 03:29] origin1tech opened #138 "Typings do not allow for extending custom properties in TypeScript"
Having multiple return types for the constructor definition won't fly in TypeScript.

Prevents you from being able to extend the class with custom properties.

    interface FileConstructor {
      new(options: ConstructorOptions & { contents: null }): NullFile;
      new(options: ConstructorOptions & { contents: Buffer }): BufferFile;
      new(options: ConstructorOptions & { contents: NodeJS.Rea

[2017-09-23 03:39] phated commented on #138
We don't maintain the typings. Please direct this to the proper repository.

[2017-09-23 03:39] #138 closed

[2017-09-23 03:52] origin1tech commented on #138
...you're right wasn't thinking :)

[2017-10-15 13:11] Marak commented on #105
Do we have a status update on this issue @phated? How close to complete it this?

I'm running into some issues where we are trying to pass around a Vinyl stat object into existing fs based interfaces that expect a regular fs based stat object.

[2017-10-15 20:51] Marak commented on #133
I'm a bit confused by this issue. If we remove streaming contents completely, wouldn't that break much of the vinyl / gulp ecosystem?

Also, if we remove streaming, wouldn't that mean that all files are going to be buffered into memory, or is that a `vinyl-fs` responsibility?

Any clarifications would be appreciated. I'm probably misunderstanding the issue.

[2017-10-15 22:15] phated commented on #105
@Marak Approximately 0% - Vinyl's stat object is still just constructed by `fs.Stat`.  I created a repository at https://github.com/gulpjs/better-stats but no one was interested in helping out so this will fall to the future.

[2017-10-15 22:22] phated commented on #133
@Marak this change would be a breaking change to the current Vinyl spec where the `contents` property can be a Buffer, Stream or null.  However, it likely wouldn't break much of the gulp ecosystem because most plugins don't support streaming.  The hope behind streaming contents was that more and more modules would support streaming over time (a good example being uglifyjs); however, over time, tha

[2017-10-16 20:16] Marak commented on #133
I agree that correctly implementing streaming modules for gulp eco-system is not super easy. A lot of the plugins I've seen don't bother to stream at all.

I'm still doing `toJSON` in my fork and it's working well. I've recently made some changes so `fs.Stat` properties are also serialized. Pretty much my use-case has been serializing vinyl instances to be sent over the wire. In some cases I don't

[2017-10-16 20:17] Marak commented on #133
RE: #83

[2017-10-19 21:45] phated commented on #133
@Marak I'd love for `better-stats` to be properly serializable - node's `fs.Stat` leaves **so** much to be desired.

[2017-12-29 12:57] demurgos opened #140 "Contents cannot be a `Stream` object"
The following code throws an error:
[code]
[code]

([see the stack trace at the bottom of this Travis Job](https://travis-ci.org/demurgos/vinyl/jobs/322881288))

The error is caused in `cloneable-readable` when the stream is cloned because it is expected to be a readable stream (with a `_readableState` property):
[code]

The documentation is only requiring stream contents to only inherit from [Str

[2017-12-29 17:00] phated commented on #140
Good catch! It definitely needs to be a ReadableStream.  `require('stream').Stream` is a super old legacy API that points to a version of streams before Readable/Writable/Duplex.  The `readable-stream` package actually does things a little differently by exporting a ReadableStream as the main export.

[2017-12-29 17:05] #140 closed

[2018-05-12 18:54] origin1tech commented on #138
@zixia not positive but I believe I just created them manually, if I get a moment I'll see if I can't locate the project and get you a link so you can see how I did it :)

[2018-11-04 20:55] phated commented on #105
Quoting "steps" as outlined in https://github.com/gulp-community/gulp-less/pull/303#issuecomment-422440248

I'm pretty sure we'd need to work on a BetterBuffer object that would interact with BetterStats but I'm not sure, as I haven't looked into it at all.

[2019-01-04 12:38] GongT opened #143 "file.clone() break symlink"
[code]

[2019-04-18 03:27] juliet-zhu opened #144 "Extending Vinyl still have build in properties"
Hi, in README.md [https://github.com/gulpjs/vinyl#extending-vinyl]
[code]
From my understanding, `foo` or `_foo` should not be in `superIns` and `superInsCopy` instacnes, but I still can query them.

[2019-04-19 18:01] phated commented on #144
The documentation is phrased incorrectly.  If something is set in the constructor, it'll be set on the clone because `this.constructor()` is called at https://github.com/gulpjs/vinyl/blob/master/index.js#L123 and anything on the prototype is also going to be there for the same reasons.  The isCustomProp stuff is only to prevent someone from doing `new Vinyl({ foo: "something" })` and overwrite a p

[2019-04-22 02:41] juliet-zhu commented on #144
Much clear now. Thanks a lot.

[2019-04-22 02:41] #144 closed

[2019-04-22 12:09] phated commented on #144
Glad that helped.  I've updated the docs with my above explanation.

[2019-08-21 01:22] binarykitchen commented on #107
With the removal of this bad pipe function many gulp plugins do not work anymore. Trying to fix one with this old code:

[code]

`file` comes from `var stream = through2.obj(function(file, enc, cb) {`

How to fix this best?

[2019-08-21 02:47] contra commented on #107
@binarykitchen This ticket was for the removal of a really old function `file.pipe` that was never really used or adopted. `file.contents = file.contents.pipe(whatever)` is the replacement for this case. There are a bunch of issues with your example code, but that's more something you should get help with on StackOverflow or similar.

[2019-08-21 03:28] binarykitchen commented on #107
Right, thanks

[2019-09-06 00:28] phated commented on #133
Also need to review https://www.npmjs.com/package/smart-buffer

[2020-04-28 01:15] contra commented on #105
Picking this one up and assigning to myself. @phated I noticed a lot of work has been done on better-stats, can you give a quick update on what is still missing + your plans for that? I want to make sure I don't reinvent the wheel if you've already made API decisions for that.

[2020-09-22 04:51] #143 closed

[2020-10-05 09:43] VividVisions commented on #105
Any news on this? We just ran into problems caused by gulp (4.0.2) not updating the last-modified property on overwritten/updated files (on Node.js 12.18.3).

[2020-10-14 22:19] phated commented on #105
Unfortunately, no one has begun work on this yet. @VividVisions would you want to help out?

[2020-10-22 18:32] VividVisions commented on #105
@phated I'm sorry, but I fear I don't have the necessary time to dive into this. :(

[2022-08-25 18:27] phated opened #153 "Switch to streamx"
If we are keeping the streaming contents around for gulp 5, we should at least switch this project to streamx

[2022-09-26 21:00] #153 closed